.Button{
  padding: 0.5rem;
  background: rgb(216, 67, 21);
  color: rgb(255, 255, 255);
  border: navajowhite;
  border-radius: 5px;
  height: 2rem;
  margin-right: 10px;
  box-sizing: content-box;
  box-shadow: rgba(32, 31, 31, 0.67) -1px 5px 20px 0px;
  cursor: pointer;
  transition: all .3s;
  width: 10rem;
}
.Button:focus{
  outline: none;
  border: none;
}
.Button:hover{
  transform: translateY(-5px);
}
